################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hxyUtils/obj/Debug
/hxyUtils/bin/Debug
/.vs/hxyUtils
/packages
